* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: hsl(217, 54%, 11%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display:flex;
    flex-direction: column;
    margin: 10% auto;
    padding: 4%;
    width: 50%;
    background: hsl(216, 50%, 16%);
    border-radius: 4.3%;
}

.card__image{
    padding-bottom: 4%;
}

.card__image img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2.5%;
}

.card__body{
    padding-bottom: 4%;
}

.card__title {
    font-weight: 600;
    color: white;
    font-size: 22px;
    line-height: 28px;
}

.card__desc {
    color: hsl(215, 51%, 70%);
}

.card__details {
    display:flex;
    justify-content: space-between;
}

.card__price > span {
    color: hsl(178, 100%, 50%);
}

.card__price > img {
    vertical-align: middle;
}
.card__time > span {
    color: hsl(215, 51%, 70%)
}

