body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color:orange;
    margin-top: 10%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}